@model IEnumerable<Publisher>
<div class="brands-name">
  <ul class="list-group" style=" overflow:scroll; max-height:300px;">
                @foreach (var item in Model)
                {
                    <li class="list-group-item" style=""><label><input type="checkbox" class="form-check-input me-1" name="filter2" value="@item.Id"> <span style="color:grey;">@item.Name</span> </label></li>
                }
            </ul>
</div>
